﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.main-content {
    width: 80%;
    margin: auto;
}
td, th {
    padding: 2px;
}

th {
    background-color: lightgray;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.table-bordered {
    border: solid 2px black;
}

.marginBottom {
    margin-bottom: 5px
}

.table.table-bordered tbody tr:nth-child(odd) {
    background-color: #e5e5e5;
}