﻿@model IList<ProductsTest.Repository.DTO.ProductModel>

@{
    ViewData["Title"] = "Product List";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div id="savingMessage" class="alert alert-block alert-warning">
        @ViewBag.Message
    </div>
    <script>
        setTimeout(() => $('#savingMessage').remove(), 2000);
    </script>
}

<h2>Product List</h2>

<div class="btn-container">
    @Html.ActionLink("Add", "Edit", new { }, new { Class = "btn btn-primary pull-right marginBottom" })
</div>
<span class="clearfix"></span>
<div>
    <table class="table, table-bordered col-xs-12">
        <thead>
            <tr class="">
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Category</th>
                <th class="text-center">Active</th>
                <th class="text-center">Price</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.ActionLink($"{item.Id}", "Edit", new { id = item.Id })</td>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.Category.Name</td>
                        <td class="text-center">@item.IsActive</td>
                        <td class="text-center">@item.Price</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="5">No data to show</td>
                </tr>
            }
        </tbody>
    </table>
</div>